@import "../abstracts/mixins";
@import "../abstracts/variables";

.board-cards {
  flex: 1;
  padding: 1rem 1.875rem;

  .board-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .left-side-board {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;

      .flex-edit-fav {
        @include flexCenter;
        gap: 0.5rem;
      }
    }
  }

  h1 {
    font-size: $huge-font-size;
    font-weight: $font-weight-900;
    color: $board-title-color;
  }

  #cards-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.85rem;
  }

  .board-lists {
    width: min(99%, 90.5rem);
    // margin-inline: auto;
    overflow-x: auto;
    min-height: 85%;


    .add-another-listCtn {
      position: relative;

      .enter-list-title {
        width: 250px;
        height: auto;
        background-color: white;
        padding: 15px 20px;
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;

        // input {
        //   width: 203px;
        //   height: 26px;
        //   background: $primary-font-color;
        //   border: 1px solid #bababa;
        //   border-radius: 3px;
        //   margin-bottom: 0.5rem;
        // }

        button {
          width: 75px;
          height: 30px;
          border-radius: 5px;
          background-color: black;
          color: $primary-font-color;
        }
      }

      .main-card {
        width: 280px;
        height: auto;
        background-color: white;
        padding: 6px 15px 20px 15px;
        border-radius: 10px;
        // position: absolute;
        // top: 0;
        // right: 0;
        flex-shrink: 0;

        span {
          display: flex;
          gap: 1rem;
          justify-content: space-between;
          align-items: center;
        }

        h2{
          font-size: 1.25rem;
          margin-bottom: 0.6rem;
        }

        .item-input{
          width: 100%;
          height: 2.7rem;
          background-color: black;
          word-break: break-all;
          color: white;
          border-radius: 5px;
          outline: none;
          border: none;
          padding: 0.4rem;

          &::placeholder {
            color: white;
          }
        }

        ul {
          li {
            display: flex;
            background-color: $list-card-color;
            gap: 0.5rem;
            margin-bottom: 0.7rem;
            padding: 0.3rem;
            border-radius: 5px;
            color: $primary-font-color;
            box-shadow: -4px 4px 0px #000000;
            word-break: break-all;
            font-size: 0.8rem;
          }
        }
      }

      .listBtns {
        width: 10rem;
        @include flexCenter;
      }

      .text-fix {
        word-break: break-all;
        text-overflow: ellipsis;
        margin: 0.1rem 0px;
      }
    }
  }
}
