$nav-side-bar: #121521;
$csa-btn-bg: #464646;
$home-color: #1B2430;
$list-card-color: #714DFF;
$addACard-color: #000000;
$delete-btn-color: #FF4D4D;

$primary-font-color: #ffffff;
$favorite-color: #FF6464;
$board-title-color: #50EAFF;

$primary-font-size: 0.813rem; 
$secondary-font-size: 1.125rem;
$title-card-size: 1.25rem;
$huge-font-size: 2.8rem;

$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-900: 900;